.footer-content-container {
  bottom: 0;
  position: relative;
}

.footer {
  font-size: calc(10px + 2vmin);
  min-height: 10%;
  width: 100%;
  color: white;
  bottom: 0;
  position: sticky;
}

.footer-headline {
  display: block;
  width: 75%;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.link {
    text-decoration: none;
    color: royalblue;
}

.link:hover{
    color: antiquewhite;
    text-decoration: underline;
}

.phone-number{
    color: royalblue;
}

.shutterstock-icon {
  width: 32px;
}


.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}