* {background-color: lightgray}

.portfolio-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  margin: 25px 15px;
  min-height: 10%;
  color: white;
}

.App-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  margin: 25vh auto;
}

.content {
  display: flex;
  justify-content: center;
}
