* {background-color: lightgray}

.Projects {
  margin: 25vh auto;
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.section-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-sm-6 {
  width: calc(50% - 30px);
  margin: 0 15px 30px;
}

.project-image {
  width: 100%;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  margin-bottom: 0;
}
