.Projects {
  margin: 25vh auto;
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.section-title {
  text-align: center;
  font-weight: bold;
  margin: 10px 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-6 {
  border: 0.5px solid gray;
  margin: 0px 30px 30px;
  border-radius: 15px;
  box-shadow: outset;
  display: grid;
  grid-template-columns: 10fr 0.5fr;
  filter: drop-shadow(0 0 0.1rem black);
  background-color: lightslategrey;
}

.project-image {
  width: 100%;
}

.inner-content {
  display: flex;
  background-color: lightslategray;
  margin: 2% 2%;
}

.card-content {
  height: 60%;
  gap: 1em;
  margin: 0 25px;
  background-color: lightslategrey;
}

.col-sm-6 h3 {
  margin: 15px 20px;
  background-color: lightslategrey;
}

.card-content p {
  display: flex;
  background-color: lightslategray;
}

.svg-icon {
  width: 1em;
  height: 1em;
  background-color: lightslategray;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.expanded-project {
  background-color: lightslategray;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.go-button {
  background-color: lightslategrey;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  border-radius: 15px;
}
