.subheader {
  background-color: #FFFFFF;
  padding: 15px;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #333333;
}